In [54]:
#imports 
import pandas as pd

In [55]:
basket = pd.read_csv('/Users/cicerosantos/Documents/GitHub/MLII/data/raw/customer_basket.csv')
customer_info = pd.read_csv('/Users/cicerosantos/Documents/GitHub/MLII/data/raw/customer_info.csv', index_col = 'customer_id')
product = pd.read_excel('/Users/cicerosantos/Documents/GitHub/MLII/data/raw/product_mapping.xlsx')

In [56]:
basket.head()

   invoice_id                                      list_of_goods  customer_id
0     7448187  ['olive oil', 'yogurt cake', 'grated cheese', ...        43134
1     3167314  ['babies food', 'shower gel', 'rice', 'black b...        43134
2    10199712  ['babies food', 'barbecue sauce', 'olive oil',...        43134
3    12179179  ['babies food', 'milk', 'rice', 'yogurt cake',...        43134
4     8292388  ['napkins', 'cookies', 'razor', 'cooking oil',...        43134

In [62]:
#o vic jÃ¡ fez o codigo q faz o mapa e troca latitude e lontitude por location 
customer_info.sort_index(inplace = True)

customer_info.head(
)

,Unnamed: 0,name,gender,birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,spend_groceries,spend_electronics,...,spend_fish,spend_hygiene,spend_videogames,spend_petfood,total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
customer_id,,,,,,,,,,,,,,,,,,,,,
1,34467,Msc. Kathleen Carmichael,female,12/15/1976 01:11 PM,1.0,1.0,0.0,1.0,2795.0,169.0,...,1.0,697.0,314.0,486.0,165.0,0.320103,2011.0,992355.0,38.761431,-9.159156
2,6879,Msc. Betty Smith,female,06/30/1968 08:12 AM,1.0,0.0,0.0,NaN,4123.0,730.0,...,2.0,533.0,123.0,334.0,347.0,0.360180,2006.0,965662.0,38.717322,-9.147364
3,30542,Bsc. Crystal Kitchens,female,03/01/1958 01:09 PM,1.0,1.0,0.0,1.0,16197.0,8942.0,...,4333.0,2543.0,3942.0,3309.0,152.0,0.181410,2009.0,991163.0,38.760632,-9.167537
4,42496,Msc. Glenda Bauman,female,06/30/1984 04:57 PM,1.0,1.0,1.0,3.0,3836.0,403.0,...,253.0,102.0,605.0,306.0,4.0,0.025726,2009.0,902456.0,38.728994,-9.173723
5,8388,Bsc. Antonio Campbell,male,12/26/1992 06:19 AM,1.0,2.0,1.0,3.0,5401.0,3246.0,...,1817.0,1845.0,1003.0,1778.0,1318.0,0.084791,2013.0,917096.0,38.777216,-9.157392

### **ideias no preprocessing :** 
* Tirar os binarios porque pode dificultar o algoritmo ?
* mudar os anos da year first transaction para talves uma continuos variable, ou anos como costumers ?
* mudar os nomes tipo mudar todos lifetimes para total distinct produrcs, spend video games etc 
* mudas os customer para id, name , gender, birthdate 
* Ã‰ preciso alguma transformaÃ§Ã£o na typical hour ?

In [58]:
product.head()

   product_name        category
0     champagne  alcohol_drinks
1       bramble  alcohol_drinks
2    white wine  alcohol_drinks
3  dessert wine  alcohol_drinks
4   french wine  alcohol_drinks

# **Refactoring**

In [59]:
refactored_columns = {col: col.replace('lifetime_', '') if col.startswith('lifetime_') else col for col in customer_info.columns}

customer_info.rename(columns=refactored_columns, inplace=True)

In [60]:
refactored_columns = {col: col.replace('customer_', '') if col.startswith('customer_') else col for col in customer_info.columns}


customer_info.rename(columns=refactored_columns, inplace=True)

In [63]:
customer_info.drop('Unnamed: 0', axis= 1,inplace = True)

In [65]:
customer_info

,name,gender,birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,spend_groceries,spend_electronics,typical_hour,...,spend_fish,spend_hygiene,spend_videogames,spend_petfood,total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
customer_id,,,,,,,,,,,,,,,,,,,,,
1,Msc. Kathleen Carmichael,female,12/15/1976 01:11 PM,1.0,1.0,0.0,1.0,2795.0,169.0,9.0,...,1.0,697.0,314.0,486.0,165.0,0.320103,2011.0,992355.0,38.761431,-9.159156
2,Msc. Betty Smith,female,06/30/1968 08:12 AM,1.0,0.0,0.0,NaN,4123.0,730.0,14.0,...,2.0,533.0,123.0,334.0,347.0,0.360180,2006.0,965662.0,38.717322,-9.147364
3,Bsc. Crystal Kitchens,female,03/01/1958 01:09 PM,1.0,1.0,0.0,1.0,16197.0,8942.0,16.0,...,4333.0,2543.0,3942.0,3309.0,152.0,0.181410,2009.0,991163.0,38.760632,-9.167537
4,Msc. Glenda Bauman,female,06/30/1984 04:57 PM,1.0,1.0,1.0,3.0,3836.0,403.0,17.0,...,253.0,102.0,605.0,306.0,4.0,0.025726,2009.0,902456.0,38.728994,-9.173723
5,Bsc. Antonio Campbell,male,12/26/1992 06:19 AM,1.0,2.0,1.0,3.0,5401.0,3246.0,8.0,...,1817.0,1845.0,1003.0,1778.0,1318.0,0.084791,2013.0,917096.0,38.777216,-9.157392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,Rosaura Polsgrove,female,02/19/1957 07:30 PM,0.0,0.0,0.0,1.0,4660.0,146.0,6.0,...,232.0,92.0,0.0,5132.0,87.0,0.080812,2015.0,NaN,38.754547,-9.192977
49997,Salvador Pedersen,male,09/04/1970 05:26 PM,4.0,0.0,1.0,1.0,6419.0,2827.0,NaN,...,1001.0,983.0,1318.0,1153.0,410.0,0.062217,2007.0,NaN,38.740483,-9.069564
49998,Kenneth Penney,male,07/14/1991 10:39 AM,0.0,0.0,0.0,1.0,6740.0,2939.0,11.0,...,733.0,766.0,765.0,868.0,726.0,0.315149,2016.0,NaN,38.736556,-9.149285
49999,Shayla Nanasy,female,11/03/1953 06:27 PM,2.0,1.0,1.0,1.0,4839.0,1475.0,9.0,...,491.0,2169.0,1017.0,1173.0,639.0,0.167956,2013.0,NaN,38.754239,-9.162022
50000,Joey Atkinson,female,05/20/1940 12:33 PM,1.0,1.0,1.0,1.0,2010.0,219.0,14.0,...,393.0,212.0,570.0,670.0,336.0,0.398212,2012.0,NaN,38.768395,-9.185984

## **Missing Values and Data Types**

**Finding the missing values**

In [64]:
customer_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43631 entries, 1 to 50000
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   name                                     43631 non-null  object
 1   gender                                   43631 non-null  object
 2   birthdate                                43631 non-null  object
 3   kids_home                                43107 non-null  float64
 4   teens_home                               42610 non-null  float64
 5   number_complaints                        42977 non-null  float64
 6   distinct_stores_visited                  42322 non-null  float64
 7   spend_groceries                          43631 non-null  float64
 8   spend_electronics                        43631 non-null  float64
 9   typical_hour                             41886 non-null  float64
 10  spend_vegetables                         42758 non-null  float64
 11  spend_nonalcohol_drinks                  43631 non-null  float64
 12  spend_alcohol_drinks                     43631 non-null  float64
 13  spend_meat                               43631 non-null  float64
 14  spend_fish                               42322 non-null  float64
 15  spend_hygiene                            43631 non-null  float64
 16  spend_videogames                         43631 non-null  float64
 17  spend_petfood                            43631 non-null  float64
 18  total_distinct_products                  43631 non-null  float64
 19  percentage_of_products_bought_promotion  43631 non-null  float64
 20  year_first_transaction                   43631 non-null  float64
 21  loyalty_card_number                      24654 non-null  float64
 22  latitude                                 43631 non-null  float64
 23  longitude                                43631 non-null  float64
dtypes: float64(21), object(3)
memory usage: 8.3+ MB

**colunas com missing values :** 
* teens_home 
* number_complaints
* distinct_stores_visited
* typical_hour
* spend vegetables
* spend fish

In [47]:
# Assuming df is your DataFrame
rows_with_missing_values = customer_info[customer_info.isnull().any(axis=1)]
print(rows_with_missing_values)

             Unnamed: 0                 name  gender            birthdate  \
customer_id
39634                 0          David Frink    male  05/15/1964 10:34 PM
43460                 1        Belinda Terry  female  03/26/1988 11:06 PM
10090                 4        Lonnie Hopson    male  12/18/2001 03:03 AM
24058                 5           Maria Hunt  female  02/21/1959 09:16 PM
47768                 7         Alison Brown  female  11/28/1971 01:01 AM
...                 ...                  ...     ...                  ...
32758             43621  Carman Stubblefield  female  02/27/1978 07:10 PM
46617             43623         Laura Julian  female  12/19/1965 01:10 AM
38747             43624         Scott Thomas    male  05/17/1953 06:36 AM
48487             43626      Amelia Crawford  female  08/28/1983 11:43 AM
21373             43628        Addie Coronel  female  02/20/1994 05:58 AM

             kids_home  teens_home  number_complaints  \
customer_id
39634              1.0         1.0                1.0
43460              1.0         0.0                1.0
10090              0.0         0.0                0.0
24058              1.0         1.0                0.0
47768              5.0         1.0                1.0
...                ...         ...                ...
32758              3.0         2.0                2.0
46617              1.0         1.0                1.0
38747              1.0         1.0                0.0
48487              1.0         1.0                0.0
21373              0.0         0.0                0.0

             distinct_stores_visited  spend_groceries  spend_electronics  ...  \
customer_id                                                               ...
39634                            2.0          18306.0             7106.0  ...
43460                            2.0           5015.0             1334.0  ...
10090                            1.0            697.0              570.0  ...
24058                            2.0          13419.0            12029.0  ...
47768                            1.0           4951.0             3426.0  ...
...                              ...              ...                ...  ...
32758                            1.0           3713.0             1750.0  ...
46617                            2.0           1692.0             4006.0  ...
38747                            2.0          16755.0             6507.0  ...
48487                            1.0           7189.0             6293.0  ...
21373                            1.0           6059.0              241.0  ...

             spend_fish  spend_hygiene  spend_videogames  spend_petfood  \
customer_id
39634            4056.0         2174.0            3946.0         2514.0
43460            1925.0         2115.0            1028.0         1987.0
10090             172.0          587.0             223.0           64.0
24058            4448.0         1405.0            4334.0         2893.0
47768             640.0          168.0            1147.0          945.0
...                 ...            ...               ...            ...
32758             725.0          903.0            1673.0          728.0
46617            2141.0         1895.0             842.0         1900.0
38747            4128.0         1861.0            4080.0         2942.0
48487            3779.0         1748.0            4387.0         2812.0
21373             142.0          179.0               0.0        11242.0

             total_distinct_products  percentage_of_products_bought_promotion  \
customer_id
39634                           32.0                                 0.072206
43460                         2566.0                                 0.206227
10090                            4.0                                 0.181023
24058                          110.0                                 0.034288
47768                          467.0                                 0.198654
...                              ...                                      ...
32758                          133.0                                 0.186346
46617                          944.0                                 0.176771
38747                          133.0                                -0.101993
48487                           14.0                                 0.233259
21373                           44.0                                 0.097672

             year_first_transaction  loyalty_card_number   latitude  longitude
customer_id
39634                        2010.0                  NaN  38.735637  -9.149071
43460                        2014.0                  NaN  38.762702  -9.160802
10090                        2024.0             977059.0  38.770397  -9.177024
24058                        2005.0             971169.0  38.736766  -9.149955
47768                        2004.0                  NaN  38.795143  -9.144288
...                             ...                  ...        ...        ...
32758                        2007.0                  NaN  38.738604  -9.208098
46617                        2008.0                  NaN  38.777916  -9.153706
38747                        2011.0                  NaN  38.763151  -9.096287
48487                        2016.0                  NaN  38.760694  -9.166146
21373                        2017.0                  NaN  38.769923  -9.181550

[22855 rows x 25 columns]

In [52]:
# Calculate percentage of missing values in each column
missing_percentage_per_column = (customer_info.isnull().sum() / len(customer_info)) * 100

# Calculate percentage of missing values in the entire DataFrame
total_missing_percentage = (customer_info.isnull().sum().sum() / (customer_info.shape[0] * customer_info.shape[1])) * 100

print("Percentage of missing values in each column:")
print(missing_percentage_per_column)
print("\nPercentage of missing values in the entire DataFrame:", total_missing_percentage)

Percentage of missing values in each column:
Unnamed: 0                                  0.000000
name                                        0.000000
gender                                      0.000000
birthdate                                   0.000000
kids_home                                   1.200981
teens_home                                  2.340079
number_complaints                           1.498934
distinct_stores_visited                     3.000160
spend_groceries                             0.000000
spend_electronics                           0.000000
typical_hour                                3.999450
spend_vegetables                            2.000871
spend_nonalcohol_drinks                     0.000000
spend_alcohol_drinks                        0.000000
spend_meat                                  0.000000
spend_fish                                  3.000160
spend_hygiene                               0.000000
spend_videogames                            0.000000
spend_petfood                               0.000000
total_distinct_products                     0.000000
percentage_of_products_bought_promotion     0.000000
year_first_transaction                      0.000000
loyalty_card_number                        43.494305
latitude                                    0.000000
longitude                                   0.000000
dtype: float64

Percentage of missing values in the entire DataFrame: 2.42139763012537

### dealing with the missing values

# Distribution

In [53]:
customer_info.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,43631.0,21815.000000,12595.329134,0.000000,10907.500000,21815.000000,32722.500000,43630.000000
kids_home,43107.0,1.081263,1.239257,0.000000,0.000000,1.000000,1.000000,9.000000
teens_home,42610.0,0.847829,0.840397,0.000000,0.000000,1.000000,1.000000,6.000000
number_complaints,42977.0,0.705726,0.624624,0.000000,0.000000,1.000000,1.000000,9.000000
distinct_stores_visited,42322.0,1.669959,1.034825,1.000000,1.000000,1.000000,2.000000,8.000000
spend_groceries,43631.0,5600.030047,4602.647746,0.000000,2184.500000,4071.000000,6605.500000,26552.000000
spend_electronics,43631.0,2000.058468,3004.924537,0.000000,218.000000,574.000000,2565.500000,21273.000000
typical_hour,41886.0,13.520580,4.558057,6.000000,10.000000,13.000000,17.000000,24.000000
spend_vegetables,42758.0,456.893938,312.832282,0.000000,227.000000,387.000000,584.000000,2112.000000
spend_nonalcohol_drinks,43631.0,443.636657,210.313287,0.000000,297.000000,419.000000,560.000000,2224.000000
spend_alcohol_drinks,43631.0,494.073365,524.269783,0.000000,145.000000,320.000000,646.000000,5091.000000
spend_meat,43631.0,709.367949,678.288845,0.000000,153.000000,522.000000,1094.000000,3250.000000
spend_fish,42322.0,1471.423846,3910.163766,0.000000,187.000000,641.000000,1570.000000,50381.000000
spend_hygiene,43631.0,916.948408,729.744050,0.000000,372.000000,668.000000,1437.000000,3487.000000
spend_videogames,43631.0,990.334922,1241.658577,0.000000,204.000000,557.000000,1111.000000,5389.000000
spend_petfood,43631.0,2023.225619,2926.355387,0.000000,517.000000,874.000000,2217.000000,19596.000000
total_distinct_products,43631.0,387.260182,411.436756,0.000000,97.000000,252.000000,537.000000,3544.000000
percentage_of_products_bought_promotion,43631.0,0.229431,0.189242,-0.477986,0.111704,0.205235,0.310884,1.196858
year_first_transaction,43631.0,2011.342257,4.656129,1996.000000,2008.000000,2011.000000,2014.000000,2024.000000
loyalty_card_number,24654.0,949808.661069,28894.251301,900008.000000,924774.000000,949681.000000,975117.250000,999996.000000
latitude,43631.0,38.752266,0.048629,38.690636,38.732481,38.748887,38.764504,39.357600
longitude,43631.0,-9.158591,0.036606,-9.418076,-9.175824,-9.160152,-9.139240,-9.055377

# Feature engeneering

# Feature scalling